
body * {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-login {
  text-align: center;
  width: 400px;
  margin: auto;
}

.container-login button {
  height: 40px;
  width: 100%;
  background-color: #57b846;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.container-login img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.container-login select {
  margin-top: 10px;
  width: 100%;
  height: 25px;
}
.nav {
  width: 100%;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,.29);
  
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 10;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.user, .question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.user img,
.question img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto 20px;
  
}

.user-info, .question-info {
  display: flex;
  flex-direction: column;
}

.newQuestion {
  width: 100%;
  max-width: 590px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.center {
  text-align: center;
}

.newQuestion h3,
.newQuestion h4,
.newQuestion h5 {
  margin: 2px 20px;
}

.newQuestion button,
.question button {
  height: 40px;
  width: 80%;
  background-color: #57b846;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px auto;
}

.newQuestion input {
  height: 40px;
  margin: 10px;
}

.filters {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
  width: 600px;
}

.filterButton:first-child {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  border-left-width: .0625rem;
}

.filterButton:last-child {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.filterButton {
  min-width: 20rem;
  padding: .75rem;
  border-radius: 0px;
  outline: 0px;
  margin: 0;
  font-size: 0.75rem;
  border: .0625rem solid #015c01;
  cursor: pointer;
  height: 48px;
}


.filterButton.button--on {
  background-color: #015c01;
  color: white;
}

.filterButton.button--off {
  background-color: white;
  color: black;
}

.question {
  width: 800px;
}

.question h4,
.question p{
  margin: 2px;
  padding: 0;
}

.question-info {
  width: 600px;
}

.user-answer {
  color: #015c01;
  font-weight: bold;
}

.user-answer::before {
  content: "You answered: ";
}
